<nav class="navbar navbar-expand-lg navbar-dark bg-dark px-0 py-1">
        <div class="container-xl">
          <!-- Logo -->
          <a class="navbar-brand" href="#">
            <i class="fa fa-sun-o" ></i> <span id="temp" class="fa"></span> <h3>Weather App</h3>
          </a>
          <!-- Navbar toggle -->
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <!-- Collapse -->
          <div class="collapse navbar-collapse" id="navbarCollapse">
            <!-- Nav -->
            <div class="navbar-nav mx-lg-auto">
              <a class="nav-item nav-link active" href="/" aria-current="page">Home</a>
              <a class="nav-item nav-link" href="/about">About</a>
              <a class="nav-item nav-link" href="/weather">Weather</a>
              
            </div>
            <!-- Right navigation -->
            <div class="navbar-nav ms-lg-4">
              <a class="nav-item nav-link" href="#">Sign in</a>
            </div>
            <!-- Action -->
            <div class="d-flex align-items-lg-center mt-3 mt-lg-0">
              <a href="#" class="btn btn-sm btn-primary w-full w-lg-auto" style="background-image: linear-gradient(to right bottom, #0c57c7, #0083e6, #00aaec, #00cce2, #12ebd1);">
                Register
              </a>
            </div>
          </div>
        </div>
      </nav>